# **Ejercicios de pair programming Módulo 1 - Sprint 2**
## **Lección 13**
### **Python + SQL 1**

---

Objetivos


1. Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. 
¿Qué BBDD tenemos en nuestro servidor?

In [3]:
import mysql.connector

In [4]:
import pandas as pd

In [9]:
mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('adalab',)
('creacion_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('musica_adalabers',)
('mysql',)
('northwind',)
('performance_schema',)
('proyecto1',)
('prueba',)
('sakila',)
('sports_analytics',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('world',)

2. Empezemos a explorar la BBDD de Northwind. 
¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. 
Guarda el resultado de los nombres de la tablas en una lista.

In [16]:
mydb = mysql.connector.connect(
                user= 'root', password='AlumnaAdalab',
                host='localhost',
                database='northwind')

mycursor = mydb.cursor()

mycursor.execute('SHOW TABLES')

tablas = []

for x in mycursor:
    print(x)
    tablas.append(x[0])

('categories',)
('customer_customer_demo',)
('customer_demographics',)
('customers',)
('employee_territories',)
('employees',)
('order_details',)
('orders',)
('products',)
('region',)
('shippers',)
('suppliers',)
('territories',)

In [22]:
tablas

['categories',
 'customer_customer_demo',
 'customer_demographics',
 'customers',
 'employee_territories',
 'employees',
 'order_details',
 'orders',
 'products',
 'region',
 'shippers',
 'suppliers',
 'territories']

3. ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [31]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="Northwind"
)

mycursor = mydb.cursor()
for i in tablas:
  print(i,"tiene la siguiente información:")
  mycursor.execute(f"SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{i}'")


  for x in mycursor:
    print(x)

categories tiene la siguiente información:
('def', 'northwind', 'categories', 'category_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'category_name', 2, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'description', 3, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8', 'utf8_general_ci', 'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'picture', 4, None, 'YES', 'longblob', 4294967295, 4294967295, None, None, None, None, None, 'longblob', '', '', 'select,insert,update,references', '', '', None)
customer_customer_demo tiene la siguiente información:
('def', 'northwind', 'customer_customer_demo', 'customer_id', 1, None, 'NO', 'char', 5, 15, None, None, None, 'utf8', 'utf8_general_ci', 'char(5)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customer_customer_demo', 'customertype_id', 2, None, 'NO', 'char', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'char(10)', 'PRI', '', 'select,insert,update,references', '', '', None)
customer_demographics tiene la siguiente información:
('def', 'northwind', 'customer_demographics', 'customer_desc', 2, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8', 'utf8_general_ci', 'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customer_demographics', 'customer_type_id', 1, None, 'NO', 'char', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'char(10)', 'PRI', '', 'select,insert,update,references', '', '', None)
customers tiene la siguiente información:
('def', 'northwind', 'customers', 'address', 5, None, 'YES', 'varchar', 60, 180, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(60)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'city', 6, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'company_name', 2, None, 'NO', 'varchar', 40, 120, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(40)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'contact_name', 3, None, 'YES', 'varchar', 30, 90, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(30)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'contact_title', 4, None, 'YES', 'varchar', 30, 90, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(30)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'country', 9, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'customer_id', 1, None, 'NO', 'char', 5, 15, None, None, None, 'utf8', 'utf8_general_ci', 'char(5)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'fax', 11, None, 'YES', 'varchar', 24, 72, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(24)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'phone', 10, None, 'YES', 'varchar', 24, 72, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(24)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'postal_code', 8, None, 'YES', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'customers', 'region', 7, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'address_line1', 6, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'address_line2', 7, None, 'YES', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'city', 8, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'contact_first_name', 4, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'contact_last_name', 3, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'country', 11, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'credit_limit', 13, None, 'YES', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'customer_name', 2, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'customer_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'phone', 5, None, 'NO', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'postal_code', 10, None, 'YES', 'varchar', 15, 60, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'sales_rep_employee_number', 12, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'customers', 'state', 9, None, 'YES', 'varchar', 50, 200, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
employee_territories tiene la siguiente información:
('def', 'northwind', 'employee_territories', 'employee_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employee_territories', 'territory_id', 2, None, 'NO', 'varchar', 20, 60, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(20)', 'PRI', '', 'select,insert,update,references', '', '', None)
employees tiene la siguiente información:
('def', 'creacion_tienda', 'employees', 'birth', 5, None, 'NO', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'creacion_tienda', 'employees', 'id_employees', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'creacion_tienda', 'employees', 'nombre', 3, None, 'NO', 'varchar', 45, 180, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(45)', '', '', 'select,insert,update,references', '', '', None)
('def', 'creacion_tienda', 'employees', 'salary', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None)
('def', 'creacion_tienda', 'employees', 'shop', 6, None, 'NO', 'varchar', 45, 180, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(45)', '', '', 'select,insert,update,references', '', '', None)
('def', 'creacion_tienda', 'employees', 'surname', 4, None, 'NO', 'varchar', 45, 180, None, None, None, 'utf8mb4', 'utf8mb4_0900_ai_ci', 'varchar(45)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'address', 8, None, 'YES', 'varchar', 60, 180, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(60)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'birth_date', 6, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'city', 9, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'country', 12, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'employee_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'extension', 14, None, 'YES', 'varchar', 4, 12, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(4)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'first_name', 3, None, 'NO', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'hire_date', 7, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'home_phone', 13, None, 'YES', 'varchar', 24, 72, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(24)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'last_name', 2, None, 'NO', 'varchar', 20, 60, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(20)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'notes', 16, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8', 'utf8_general_ci', 'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'photo', 15, None, 'YES', 'longblob', 4294967295, 4294967295, None, None, None, None, None, 'longblob', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'photo_path', 18, None, 'YES', 'varchar', 255, 765, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(255)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'postal_code', 11, None, 'YES', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'region', 10, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'reports_to', 17, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'title', 4, None, 'YES', 'varchar', 30, 90, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(30)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'employees', 'title_of_courtesy', 5, None, 'YES', 'varchar', 25, 75, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(25)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'email', 5, None, 'NO', 'varchar', 100, 100, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(100)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'employee_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'extension', 4, None, 'NO', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'first_name', 3, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'job_title', 8, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'last_name', 2, None, 'NO', 'varchar', 50, 50, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(50)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'office_code', 6, None, 'NO', 'varchar', 10, 10, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'employees', 'reports_to', 7, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
order_details tiene la siguiente información:
('def', 'northwind', 'order_details', 'discount', 5, '0', 'NO', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'order_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'product_id', 2, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'quantity', 4, '0', 'NO', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'order_details', 'unit_price', 3, '0', 'NO', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'order_line_number', 5, None, 'NO', 'smallint', None, None, 5, 0, None, None, None, 'smallint', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'order_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'price_each', 4, None, 'NO', 'decimal', None, None, 10, 2, None, None, None, 'decimal(10,2)', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'product_code', 2, None, 'NO', 'varchar', 15, 15, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(15)', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'order_details', 'quantity_ordered', 3, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', '', '', 'select,insert,update,references', '', '', None)
orders tiene la siguiente información:
('def', 'northwind', 'orders', 'customer_id', 2, None, 'YES', 'char', 5, 15, None, None, None, 'utf8', 'utf8_general_ci', 'char(5)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'employee_id', 3, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'freight', 8, '0', 'YES', 'double', None, None, 22, None, None, None, None, 'double', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'order_date', 4, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'order_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'required_date', 5, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_address', 10, None, 'YES', 'varchar', 60, 180, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(60)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_city', 11, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_country', 14, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_name', 9, None, 'YES', 'varchar', 40, 120, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(40)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_postal_code', 13, None, 'YES', 'varchar', 10, 30, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(10)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_region', 12, None, 'YES', 'varchar', 15, 45, None, None, None, 'utf8', 'utf8_general_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'ship_via', 7, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'orders', 'shipped_date', 6, None, 'YES', 'datetime', None, None, None, None, 0, None, None, 'datetime', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'comments', 6, None, 'YES', 'text', 65535, 65535, None, None, None, 'latin1', 'latin1_swedish_ci', 'text', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'customer_number', 7, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'order_date', 2, None, 'NO', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'order_number', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'required_date', 3, None, 'NO', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'shipped_date', 4, None, 'YES', 'date', None, None, None, None, None, None, None, 'date', '', '', 'select,insert,update,references', '', '', None)
('def', 'tienda', 'orders', 'status', 5, None, 'NO', 'varchar', 15, 15, None, None, None, 'latin1', 'latin1_swedish_ci', 'varchar(15)', '', '', 'select,insert,update,references', '', '', None)
products tiene la siguiente información:
('def', 'northwind', 'products', 'category_id', 4, None, 'YES', 'int', None, None, 10, 0, None, None, None, 'int', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'discontinued', 10, '0', 'NO', 'tinyint', None, None, 3, 0, None, None, None, 'tinyint(1)', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'products', 'product_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, 'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)


4. Hagamos unas queries facilitas:

- Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

- Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

- Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

- Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [41]:
# Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="northwind"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, MAX(quantity) FROM order_details GROUP BY order_id ORDER BY MAX(quantity) DESC")

myresult = mycursor.fetchone()
print("El primer pedido donde se ha gastado más es", myresult)

El primer pedido donde se ha gastado más es (10764, 130)

In [43]:
# Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="northwind"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT order_id, MAX(quantity) FROM order_details GROUP BY order_id ORDER BY MAX(quantity) DESC")

myresult = mycursor.fetchall()
print("Los pedidos ordenados por el máximo gastado son", myresult)

for x in myresult:
    print(x)

Los pedidos ordenados por el máximo gastado son [(10764, 130), (11072, 130), (10398, 120), (10451, 120), (10515, 120), (10595, 120), (10678, 120), (10711, 120), (10776, 120), (10894, 120), (10713, 110), (10895, 110), (11017, 110), (10286, 100), (10452, 100), (10549, 100), (10588, 100), (10607, 100), (10854, 100), (11030, 100), (10440, 90), (10694, 90), (10991, 90), (11008, 90), (10983, 84), (10324, 80), (10345, 80), (10359, 80), (10373, 80), (10442, 80), (10472, 80), (10516, 80), (10612, 80), (10633, 80), (10765, 80), (10847, 80), (10865, 80), (10897, 80), (10941, 80), (10979, 80), (11031, 80), (10351, 77), (10962, 77), (11064, 77), (10267, 70), (10316, 70), (10339, 70), (10344, 70), (10372, 70), (10393, 70), (10395, 70), (10401, 70), (10403, 70), (10430, 70), (10503, 70), (10514, 70), (10543, 70), (10563, 70), (10605, 70), (10618, 70), (10658, 70), (10773, 70), (10845, 70), (10886, 70), (11033, 70), (10990, 66), (10258, 65), (10402, 65), (10698, 65), (10795, 65), (11021, 63), (10263, 60), (10269, 60), (10273, 60), (10297, 60), (10382, 60), (10390, 60), (10396, 60), (10399, 60), (10418, 60), (10419, 60), (10424, 60), (10461, 60), (10475, 60), (10479, 60), (10485, 60), (10490, 60), (10492, 60), (10524, 60), (10540, 60), (10547, 60), (10567, 60), (10570, 60), (10590, 60), (10601, 60), (10637, 60), (10638, 60), (10641, 60), (10670, 60), (10688, 60), (10693, 60), (10700, 60), (10758, 60), (10762, 60), (10802, 60), (10817, 60), (10836, 60), (10912, 60), (10918, 60), (10929, 60), (10949, 60), (10961, 60), (10981, 60), (10987, 60), (10988, 60), (11001, 60), (11012, 60), (11035, 60), (11039, 60), (10342, 56), (11002, 56), (10361, 55), (10984, 55), (10260, 50), (10326, 50), (10327, 50), (10330, 50), (10343, 50), (10347, 50), (10353, 50), (10362, 50), (10392, 50), (10405, 50), (10414, 50), (10417, 50), (10431, 50), (10441, 50), (10455, 50), (10458, 50), (10463, 50), (10511, 50), (10513, 50), (10527, 50), (10530, 50), (10533, 50), (10535, 50), (10561, 50), (10572, 50), (10581, 50), (10584, 50), (10591, 50), (10598, 50), (10634, 50), (10657, 50), (10680, 50), (10687, 50), (10714, 50), (10721, 50), (10722, 50), (10729, 50), (10742, 50), (10744, 50), (10768, 50), (10774, 50), (10788, 50), (10800, 50), (10808, 50), (10838, 50), (10841, 50), (10852, 50), (10855, 50), (10869, 50), (10871, 50), (10880, 50), (10951, 50), (10953, 50), (10993, 50), (10997, 50), (11024, 50), (11050, 50), (11056, 50), (10410, 49), (10661, 49), (10849, 49), (10938, 49), (10335, 48), (10603, 48), (10691, 48), (10285, 45), (10667, 45), (10745, 45), (10748, 44), (10253, 42), (10376, 42), (10406, 42), (10619, 42), (10701, 42), (10786, 42), (10851, 42), (10861, 42), (10868, 42), (10931, 42), (11048, 42), (11066, 42), (10249, 40), (10252, 40), (10272, 40), (10287, 40), (10298, 40), (10302, 40), (10303, 40), (10314, 40), (10325, 40), (10328, 40), (10332, 40), (10333, 40), (10337, 40), (10340, 40), (10388, 40), (10404, 40), (10411, 40), (10413, 40), (10429, 40), (10432, 40), (10436, 40), (10447, 40), (10456, 40), (10459, 40), (10469, 40), (10481, 40), (10519, 40), (10522, 40), (10546, 40), (10551, 40), (10555, 40), (10573, 40), (10613, 40), (10635, 40), (10659, 40), (10684, 40), (10707, 40), (10709, 40), (10718, 40), (10719, 40), (10731, 40), (10736, 40), (10740, 40), (10746, 40), (10750, 40), (10760, 40), (10763, 40), (10766, 40), (10801, 40), (10812, 40), (10823, 40), (10837, 40), (10859, 40), (10866, 40), (10884, 40), (10889, 40), (10892, 40), (10903, 40), (10913, 40), (10921, 40), (10939, 40), (10946, 40), (10948, 40), (10957, 40), (10967, 40), (10970, 40), (10978, 40), (10980, 40), (10989, 40), (10996, 40), (11011, 40), (11063, 40), (11070, 40), (10346, 36), (10367, 36), (10457, 36), (10510, 36), (10541, 36), (10666, 36), (10804, 36), (10930, 36), (10985, 36), (11068, 36), (10250, 35), (10255, 35), (10264, 35), (10283, 35), (10360, 35), (10368, 35), (10400, 35), (10408, 35), (10427, 35), (10449, 35), (10483, 35), (10536, 35), (10566, 35), (10569, 35), (10597, 35), (10627, 35), (10630, 35), (10646, 35), (10689, 35), (10703, 35), (10704, 35), (10747, 35), (10761, 35), (10780, 35), (10781, 35), (10796, 35), (10813, 35), (10826, 35), (10844, 35), (10857, 35), (10893, 35), (10904, 35), (10922, 35), (11022, 35), (11028, 35), (11032, 35), (11053, 35), (11059, 35), (10717, 32), (10882, 32), (10265, 30), (10270, 30), (10280, 30), (10289, 30), (10296, 30), (10300, 30), (10304, 30), (10305, 30), (10309, 30), (10315, 30), (10319, 30), (10320, 30), (10356, 30), (10357, 30), (10364, 30), (10370, 30), (10374, 30), (10380, 30), (10389, 30), (10407, 30), (10421, 30), (10439, 30), (10444, 30), (10464, 30), (10465, 30), (10470, 30), (10471, 30), (10480, 30), (10487, 30), (10488, 30), (10494, 30), (10498, 30), (10502, 30), (10525, 30), (10526, 30), (10537, 30), (10552, 30), (10553, 30), (10554, 30), (10557, 30), (10558, 30), (10575, 30), (10580, 30), (10594, 30), (10596, 30), (10600, 30), (10617, 30), (10623, 30), (10632, 30), (10642, 30), (10647, 30), (10650, 30), (10653, 30), (10663, 30), (10669, 30), (10675, 30), (10677, 30), (10681, 30), (10682, 30), (10686, 30), (10690, 30), (10697, 30), (10712, 30), (10715, 30), (10734, 30), (10751, 30), (10755, 30), (10757, 30), (10769, 30), (10784, 30), (10789, 30), (10811, 30), (10814, 30), (10816, 30), (10820, 30), (10830, 30), (10839, 30), (10846, 30), (10848, 30), (10850, 30), (10877, 30), (10885, 30), (10901, 30), (10902, 30), (10915, 30), (10924, 30), (10932, 30), (10933, 30), (10936, 30), (10954, 30), (10968, 30), (10977, 30), (10986, 30), (10998, 30), (11000, 30), (11007, 30), (11023, 30), (11027, 30), (11036, 30), (11038, 30), (11041, 30), (11047, 30), (11052, 30), (11075, 30), (10384, 28), (10433, 28), (10467, 28), (10571, 28), (10608, 28), (10656, 28), (10743, 28), (10942, 28), (11014, 28), (10257, 25), (10278, 25), (10348, 25), (10355, 25), (10453, 25), (10486, 25), (10497, 25), (10499, 25), (10504, 25), (10523, 25), (10564, 25), (10565, 25), (10592, 25), (10628, 25), (10636, 25), (10726, 25), (10733, 25), (10772, 25), (10799, 25), (10862, 25), (10875, 25), (10914, 25), (10925, 25), (10271, 24), (10291, 24), (10312, 24), (10349, 24), (10365, 24), (10532, 24), (10542, 24), (10556, 24), (10583, 24), (10664, 24), (10706, 24), (10803, 24), (10919, 24), (10920, 24), (10923, 24), (10960, 24), (11020, 24), (11045, 24), (11077, 24), (10254, 21), (10284, 21), (10294, 21), (10460, 21), (10462, 21), (10474, 21), (10477, 21), (10576, 21), (10579, 21), (10593, 21), (10610, 21), (10643, 21), (10644, 21), (10660, 21), (10676, 21), (10720, 21), (10756, 21), (10827, 21), (10829, 21), (10872, 21), (10876, 21), (10935, 21), (10943, 21), (10999, 21), (11058, 21), (10251, 20), (10261, 20), (10274, 20), (10277, 20), (10290, 20), (10292, 20), (10299, 20), (10301, 20), (10317, 20), (10318, 20), (10322, 20), (10329, 20), (10338, 20), (10352, 20), (10358, 20), (10363, 20), (10369, 20), (10377, 20), (10379, 20), (10383, 20), (10385, 20), (10412, 20), (10415, 20), (10416, 20), (10420, 20), (10423, 20), (10425, 20), (10428, 20), (10438, 20), (10446, 20), (10448, 20), (10450, 20), (10454, 20), (10478, 20), (10495, 20), (10496, 20), (10501, 20), (10529, 20), (10560, 20), (10562, 20), (10577, 20), (10578, 20), (10587, 20), (10606, 20), (10621, 20), (10622, 20), (10626, 20), (10629, 20), (10640, 20), (10645, 20), (10649, 20), (10651, 20), (10652, 20), (10654, 20), (10655, 20), (10665, 20), (10685, 20), (10692, 20), (10695, 20), (10696, 20), (10705, 20), (10727, 20), (10732, 20), (10735, 20), (10777, 20), (10779, 20), (10787, 20), (10790, 20), (10791, 20), (10797, 20), (10806, 20), (10809, 20), (10818, 20), (10819, 20), (10821, 20), (10825, 20), (10833, 20), (10834, 20), (10842, 20), (10856, 20), (10860, 20), (10863, 20), (10873, 20), (10878, 20), (10888, 20), (10905, 20), (10908, 20), (10916, 20), (10927, 20), (10934, 20), (10937, 20), (10940, 20), (10945, 20), (10958, 20), (10959, 20), (10976, 20), (10982, 20), (10995, 20), (11010, 20), (11013, 20), (11018, 20), (11025, 20), (11029, 20), (11040, 20), (11046, 20), (11054, 20), (11055, 20), (11065, 20), (11069, 20), (11073, 20), (11076, 20), (10336, 18), (10350, 18), (10391, 18), (10397, 18), (10434, 18), (10489, 18), (10506, 18), (10559, 18), (10739, 18), (10944, 18), (10994, 18), (11009, 18), (11015, 18), (10724, 16), (10771, 16), (10815, 16), (10832, 16), (10896, 16), (10952, 16), (10965, 16), (10975, 16), (11016, 16), (10256, 15), (10262, 15), (10276, 15), (10279, 15), (10331, 15), (10375, 15), (10386, 15), (10387, 15), (10437, 15), (10445, 15), (10468, 15), (10491, 15), (10493, 15), (10507, 15), (10518, 15), (10539, 15), (10585, 15), (10611, 15), (10616, 15), (10648, 15), (10668, 15), (10672, 15), (10702, 15), (10723, 15), (10728, 15), (10730, 15), (10741, 15), (10749, 15), (10770, 15), (10792, 15), (10794, 15), (10835, 15), (10864, 15), (10890, 15), (10891, 15), (10906, 15), (10909, 15), (10911, 15), (11034, 15), (11042, 15), (11061, 15), (11071, 15), (10381, 14), (10484, 14), (10548, 14), (10574, 14), (10582, 14), (10614, 14), (10793, 14), (10907, 14), (10956, 14), (10971, 14), (11074, 14), (10248, 12), (10266, 12), (10275, 12), (10293, 12), (10313, 12), (10354, 12), (10409, 12), (10435, 12), (10443, 12), (10473, 12), (10476, 12), (10500, 12), (10512, 12), (10671, 12), (10679, 12), (10699, 12), (10725, 12), (10737, 12), (10824, 12), (10879, 12), (10910, 12), (10955, 12), (10966, 12), (11044, 12), (11062, 12), (10259, 10), (10268, 10), (10288, 10), (10306, 10), (10307, 10), (10310, 10), (10321, 10), (10334, 10), (10394, 10), (10466, 10), (10482, 10), (10508, 10), (10521, 10), (10534, 10), (10545, 10), (10550, 10), (10599, 10), (10604, 10), (10609, 10), (10624, 10), (10625, 10), (10662, 10), (10716, 10), (10759, 10), (10778, 10), (10783, 10), (10785, 10), (10798, 10), (10805, 10), (10840, 10), (10853, 10), (10858, 10), (10874, 10), (10881, 10), (10917, 10), (10926, 10), (10964, 10), (10973, 10), (10974, 10), (11003, 10), (11005, 10), (11026, 10), (11043, 10), (11049, 10), (11051, 10), (11060, 10), (10341, 9), (10528, 9), (10683, 9), (10831, 9), (10969, 9), (11067, 9), (10520, 8), (10631, 8), (10639, 8), (10752, 8), (10883, 8), (10899, 8), (11006, 8), (10311, 7), (10426, 7), (10538, 7), (10544, 7), (10810, 7), (10972, 7), (10281, 6), (10282, 6), (10371, 6), (10378, 6), (10517, 6), (10673, 6), (10775, 6), (10822, 6), (11004, 6), (10308, 5), (10323, 5), (10366, 5), (10568, 5), (10602, 5), (10615, 5), (10620, 5), (10674, 5), (10708, 5), (10710, 5), (10753, 5), (10828, 5), (10887, 5), (10898, 5), (10928, 5), (10950, 5), (10295, 4), (10586, 4), (10589, 4), (10843, 4), (10947, 4), (11037, 4), (10505, 3), (10509, 3), (10738, 3), (10754, 3), (10867, 3), (10870, 3), (10900, 3), (11019, 3), (11057, 3), (10422, 2), (10531, 2), (10767, 2), (10963, 2), (10992, 2), (10782, 1), (10807, 1)]
(10764, 130)
(11072, 130)
(10398, 120)
(10451, 120)
(10515, 120)
(10595, 120)
(10678, 120)
(10711, 120)
(10776, 120)
(10894, 120)
(10713, 110)
(10895, 110)
(11017, 110)
(10286, 100)
(10452, 100)
(10549, 100)
(10588, 100)
(10607, 100)
(10854, 100)
(11030, 100)
(10440, 90)
(10694, 90)
(10991, 90)
(11008, 90)
(10983, 84)
(10324, 80)
(10345, 80)
(10359, 80)
(10373, 80)
(10442, 80)
(10472, 80)
(10516, 80)
(10612, 80)
(10633, 80)
(10765, 80)
(10847, 80)
(10865, 80)
(10897, 80)
(10941, 80)
(10979, 80)
(11031, 80)
(10351, 77)
(10962, 77)
(11064, 77)
(10267, 70)
(10316, 70)
(10339, 70)
(10344, 70)
(10372, 70)
(10393, 70)
(10395, 70)
(10401, 70)
(10403, 70)
(10430, 70)
(10503, 70)
(10514, 70)
(10543, 70)
(10563, 70)
(10605, 70)
(10618, 70)
(10658, 70)
(10773, 70)
(10845, 70)
(10886, 70)
(11033, 70)
(10990, 66)
(10258, 65)
(10402, 65)
(10698, 65)
(10795, 65)
(11021, 63)
(10263, 60)
(10269, 60)
(10273, 60)
(10297, 60)
(10382, 60)
(10390, 60)
(10396, 60)
(10399, 60)
(10418, 60)
(10419, 60)
(10424, 60)
(10461, 60)
(10475, 60)
(10479, 60)
(10485, 60)
(10490, 60)
(10492, 60)
(10524, 60)
(10540, 60)
(10547, 60)
(10567, 60)
(10570, 60)
(10590, 60)
(10601, 60)
(10637, 60)
(10638, 60)
(10641, 60)
(10670, 60)
(10688, 60)
(10693, 60)
(10700, 60)
(10758, 60)
(10762, 60)
(10802, 60)
(10817, 60)
(10836, 60)
(10912, 60)
(10918, 60)
(10929, 60)
(10949, 60)
(10961, 60)
(10981, 60)
(10987, 60)
(10988, 60)
(11001, 60)
(11012, 60)
(11035, 60)
(11039, 60)
(10342, 56)
(11002, 56)
(10361, 55)
(10984, 55)
(10260, 50)
(10326, 50)
(10327, 50)
(10330, 50)
(10343, 50)
(10347, 50)
(10353, 50)
(10362, 50)
(10392, 50)
(10405, 50)
(10414, 50)
(10417, 50)
(10431, 50)
(10441, 50)
(10455, 50)
(10458, 50)
(10463, 50)
(10511, 50)
(10513, 50)
(10527, 50)
(10530, 50)
(10533, 50)
(10535, 50)
(10561, 50)
(10572, 50)
(10581, 50)
(10584, 50)
(10591, 50)
(10598, 50)
(10634, 50)
(10657, 50)
(10680, 50)
(10687, 50)
(10714, 50)
(10721, 50)
(10722, 50)
(10729, 50)
(10742, 50)
(10744, 50)
(10768, 50)
(10774, 50)
(10788, 50)
(10800, 50)
(10808, 50)
(10838, 50)
(10841, 50)
(10852, 50)
(10855, 50)
(10869, 50)
(10871, 50)
(10880, 50)
(10951, 50)
(10953, 50)
(10993, 50)
(10997, 50)
(11024, 50)
(11050, 50)
(11056, 50)
(10410, 49)
(10661, 49)
(10849, 49)
(10938, 49)
(10335, 48)
(10603, 48)
(10691, 48)
(10285, 45)
(10667, 45)
(10745, 45)
(10748, 44)
(10253, 42)
(10376, 42)
(10406, 42)
(10619, 42)
(10701, 42)
(10786, 42)
(10851, 42)
(10861, 42)
(10868, 42)
(10931, 42)
(11048, 42)
(11066, 42)
(10249, 40)
(10252, 40)
(10272, 40)
(10287, 40)
(10298, 40)
(10302, 40)
(10303, 40)
(10314, 40)
(10325, 40)
(10328, 40)
(10332, 40)
(10333, 40)
(10337, 40)
(10340, 40)
(10388, 40)
(10404, 40)
(10411, 40)
(10413, 40)
(10429, 40)
(10432, 40)
(10436, 40)
(10447, 40)
(10456, 40)
(10459, 40)
(10469, 40)
(10481, 40)
(10519, 40)
(10522, 40)
(10546, 40)
(10551, 40)
(10555, 40)
(10573, 40)
(10613, 40)
(10635, 40)
(10659, 40)
(10684, 40)
(10707, 40)
(10709, 40)
(10718, 40)
(10719, 40)
(10731, 40)
(10736, 40)
(10740, 40)
(10746, 40)
(10750, 40)
(10760, 40)
(10763, 40)
(10766, 40)
(10801, 40)
(10812, 40)
(10823, 40)
(10837, 40)
(10859, 40)
(10866, 40)
(10884, 40)
(10889, 40)
(10892, 40)
(10903, 40)
(10913, 40)
(10921, 40)
(10939, 40)
(10946, 40)
(10948, 40)
(10957, 40)
(10967, 40)
(10970, 40)
(10978, 40)
(10980, 40)
(10989, 40)
(10996, 40)
(11011, 40)
(11063, 40)
(11070, 40)
(10346, 36)
(10367, 36)
(10457, 36)
(10510, 36)
(10541, 36)
(10666, 36)
(10804, 36)
(10930, 36)
(10985, 36)
(11068, 36)
(10250, 35)
(10255, 35)
(10264, 35)
(10283, 35)
(10360, 35)
(10368, 35)
(10400, 35)
(10408, 35)
(10427, 35)
(10449, 35)
(10483, 35)
(10536, 35)
(10566, 35)
(10569, 35)
(10597, 35)
(10627, 35)
(10630, 35)
(10646, 35)
(10689, 35)
(10703, 35)
(10704, 35)
(10747, 35)
(10761, 35)
(10780, 35)
(10781, 35)
(10796, 35)
(10813, 35)
(10826, 35)
(10844, 35)
(10857, 35)
(10893, 35)
(10904, 35)
(10922, 35)
(11022, 35)
(11028, 35)
(11032, 35)
(11053, 35)
(11059, 35)
(10717, 32)
(10882, 32)
(10265, 30)
(10270, 30)
(10280, 30)
(10289, 30)
(10296, 30)
(10300, 30)
(10304, 30)
(10305, 30)
(10309, 30)
(10315, 30)
(10319, 30)
(10320, 30)
(10356, 30)
(10357, 30)
(10364, 30)
(10370, 30)
(10374, 30)
(10380, 30)
(10389, 30)
(10407, 30)
(10421, 30)
(10439, 30)
(10444, 30)
(10464, 30)
(10465, 30)
(10470, 30)
(10471, 30)
(10480, 30)
(10487, 30)
(10488, 30)
(10494, 30)
(10498, 30)
(10502, 30)
(10525, 30)
(10526, 30)
(10537, 30)
(10552, 30)
(10553, 30)
(10554, 30)
(10557, 30)
(10558, 30)
(10575, 30)
(10580, 30)
(10594, 30)
(10596, 30)
(10600, 30)
(10617, 30)
(10623, 30)
(10632, 30)
(10642, 30)
(10647, 30)
(10650, 30)
(10653, 30)
(10663, 30)
(10669, 30)
(10675, 30)
(10677, 30)
(10681, 30)
(10682, 30)
(10686, 30)
(10690, 30)
(10697, 30)
(10712, 30)
(10715, 30)
(10734, 30)
(10751, 30)
(10755, 30)
(10757, 30)
(10769, 30)
(10784, 30)
(10789, 30)
(10811, 30)
(10814, 30)
(10816, 30)
(10820, 30)
(10830, 30)
(10839, 30)
(10846, 30)
(10848, 30)
(10850, 30)
(10877, 30)
(10885, 30)
(10901, 30)
(10902, 30)
(10915, 30)
(10924, 30)
(10932, 30)
(10933, 30)
(10936, 30)
(10954, 30)
(10968, 30)
(10977, 30)
(10986, 30)
(10998, 30)
(11000, 30)
(11007, 30)
(11023, 30)
(11027, 30)
(11036, 30)
(11038, 30)
(11041, 30)
(11047, 30)
(11052, 30)
(11075, 30)
(10384, 28)
(10433, 28)
(10467, 28)
(10571, 28)
(10608, 28)
(10656, 28)
(10743, 28)
(10942, 28)
(11014, 28)
(10257, 25)
(10278, 25)
(10348, 25)
(10355, 25)
(10453, 25)
(10486, 25)
(10497, 25)
(10499, 25)
(10504, 25)
(10523, 25)
(10564, 25)
(10565, 25)
(10592, 25)
(10628, 25)
(10636, 25)
(10726, 25)
(10733, 25)
(10772, 25)
(10799, 25)
(10862, 25)
(10875, 25)
(10914, 25)
(10925, 25)
(10271, 24)
(10291, 24)
(10312, 24)
(10349, 24)
(10365, 24)
(10532, 24)
(10542, 24)
(10556, 24)
(10583, 24)
(10664, 24)
(10706, 24)
(10803, 24)
(10919, 24)
(10920, 24)
(10923, 24)
(10960, 24)
(11020, 24)
(11045, 24)
(11077, 24)
(10254, 21)
(10284, 21)
(10294, 21)
(10460, 21)
(10462, 21)
(10474, 21)
(10477, 21)
(10576, 21)
(10579, 21)
(10593, 21)
(10610, 21)
(10643, 21)
(10644, 21)
(10660, 21)
(10676, 21)
(10720, 21)
(10756, 21)
(10827, 21)
(10829, 21)
(10872, 21)
(10876, 21)
(10935, 21)
(10943, 21)
(10999, 21)
(11058, 21)
(10251, 20)
(10261, 20)
(10274, 20)
(10277, 20)
(10290, 20)
(10292, 20)
(10299, 20)
(10301, 20)
(10317, 20)
(10318, 20)
(10322, 20)
(10329, 20)
(10338, 20)
(10352, 20)
(10358, 20)
(10363, 20)
(10369, 20)
(10377, 20)
(10379, 20)
(10383, 20)
(10385, 20)
(10412, 20)
(10415, 20)
(10416, 20)
(10420, 20)
(10423, 20)
(10425, 20)
(10428, 20)
(10438, 20)
(10446, 20)
(10448, 20)
(10450, 20)
(10454, 20)
(10478, 20)
(10495, 20)
(10496, 20)
(10501, 20)
(10529, 20)
(10560, 20)
(10562, 20)
(10577, 20)
(10578, 20)
(10587, 20)
(10606, 20)
(10621, 20)
(10622, 20)
(10626, 20)
(10629, 20)
(10640, 20)
(10645, 20)
(10649, 20)
(10651, 20)
(10652, 20)
(10654, 20)
(10655, 20)
(10665, 20)
(10685, 20)
(10692, 20)
(10695, 20)
(10696, 20)
(10705, 20)
(10727, 20)
(10732, 20)
(10735, 20)
(10777, 20)
(10779, 20)
(10787, 20)
(10790, 20)
(10791, 20)
(10797, 20)
(10806, 20)
(10809, 20)
(10818, 20)
(10819, 20)
(10821, 20)
(10825, 20)
(10833, 20)
(10834, 20)
(10842, 20)
(10856, 20)
(10860, 20)
(10863, 20)
(10873, 20)
(10878, 20)
(10888, 20)
(10905, 20)
(10908, 20)
(10916, 20)
(10927, 20)
(10934, 20)
(10937, 20)
(10940, 20)
(10945, 20)
(10958, 20)
(10959, 20)
(10976, 20)
(10982, 20)
(10995, 20)
(11010, 20)
(11013, 20)
(11018, 20)
(11025, 20)
(11029, 20)
(11040, 20)
(11046, 20)
(11054, 20)
(11055, 20)
(11065, 20)
(11069, 20)
(11073, 20)
(11076, 20)
(10336, 18)
(10350, 18)
(10391, 18)
(10397, 18)
(10434, 18)
(10489, 18)
(10506, 18)
(10559, 18)
(10739, 18)
(10944, 18)
(10994, 18)
(11009, 18)
(11015, 18)
(10724, 16)
(10771, 16)
(10815, 16)
(10832, 16)
(10896, 16)
(10952, 16)
(10965, 16)
(10975, 16)
(11016, 16)
(10256, 15)
(10262, 15)
(10276, 15)
(10279, 15)
(10331, 15)
(10375, 15)
(10386, 15)
(10387, 15)
(10437, 15)
(10445, 15)
(10468, 15)
(10491, 15)
(10493, 15)
(10507, 15)
(10518, 15)
(10539, 15)
(10585, 15)
(10611, 15)
(10616, 15)
(10648, 15)
(10668, 15)
(10672, 15)
(10702, 15)
(10723, 15)
(10728, 15)
(10730, 15)
(10741, 15)
(10749, 15)
(10770, 15)
(10792, 15)
(10794, 15)
(10835, 15)
(10864, 15)
(10890, 15)
(10891, 15)
(10906, 15)
(10909, 15)
(10911, 15)
(11034, 15)
(11042, 15)
(11061, 15)
(11071, 15)
(10381, 14)
(10484, 14)
(10548, 14)
(10574, 14)
(10582, 14)
(10614, 14)
(10793, 14)
(10907, 14)
(10956, 14)
(10971, 14)
(11074, 14)
(10248, 12)
(10266, 12)
(10275, 12)
(10293, 12)
(10313, 12)
(10354, 12)
(10409, 12)
(10435, 12)
(10443, 12)
(10473, 12)
(10476, 12)
(10500, 12)
(10512, 12)
(10671, 12)
(10679, 12)
(10699, 12)
(10725, 12)
(10737, 12)
(10824, 12)
(10879, 12)
(10910, 12)
(10955, 12)
(10966, 12)
(11044, 12)
(11062, 12)
(10259, 10)
(10268, 10)
(10288, 10)
(10306, 10)
(10307, 10)
(10310, 10)
(10321, 10)
(10334, 10)
(10394, 10)
(10466, 10)
(10482, 10)
(10508, 10)
(10521, 10)
(10534, 10)
(10545, 10)
(10550, 10)
(10599, 10)
(10604, 10)
(10609, 10)
(10624, 10)
(10625, 10)
(10662, 10)
(10716, 10)
(10759, 10)
(10778, 10)
(10783, 10)
(10785, 10)
(10798, 10)
(10805, 10)
(10840, 10)
(10853, 10)
(10858, 10)
(10874, 10)
(10881, 10)
(10917, 10)
(10926, 10)
(10964, 10)
(10973, 10)
(10974, 10)
(11003, 10)
(11005, 10)
(11026, 10)
(11043, 10)
(11049, 10)
(11051, 10)
(11060, 10)
(10341, 9)

In [10]:
# Extraed el número de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.

cnx = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="northwind"
)

sql = "SELECT COUNT(order_id), YEAR(order_date), MONTH(order_date), DAY(order_date) FROM orders GROUP BY YEAR(order_date), MONTH(order_date), DAY(order_date)"

df = pd.read_sql_query(sql,cnx)

df.to_csv("fichero.csv")

cnx.close()

C:\Users\penny\AppData\Local\Temp\ipykernel_11688\1257886556.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql,cnx)

In [11]:
df.head(10)

   COUNT(order_id)  YEAR(order_date)  MONTH(order_date)  DAY(order_date)
0                1              1996                  7                4
1                1              1996                  7                5
2                2              1996                  7                8
3                1              1996                  7                9
4                1              1996                  7               10
5                1              1996                  7               11
6                1              1996                  7               12
7                1              1996                  7               15
8                1              1996                  7               16
9                1              1996                  7               17

In [12]:
# Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="northwind"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM orders WHERE employee_id IN (SELECT employee_id FROM employees WHERE first_name = 'Nancy' AND last_name = 'Davolio')")

myresult = mycursor.fetchall()
print("Los pedidos gestionados por Nancy Davolio son", myresult)

for x in myresult:
    print(x)

Los pedidos gestionados por Nancy Davolio son [(10258, 'ERNSH', 1, datetime.datetime(1996, 7, 17, 0, 0), datetime.datetime(1996, 8, 14, 0, 0), datetime.datetime(1996, 7, 23, 0, 0), 1, 140.51, 'Ernst Handel', 'Kirchgasse 6', 'Graz', '', '8010', 'Austria'), (10270, 'WARTH', 1, datetime.datetime(1996, 8, 1, 0, 0), datetime.datetime(1996, 8, 29, 0, 0), datetime.datetime(1996, 8, 2, 0, 0), 1, 136.54, 'Wartian Herkku', 'Torikatu 38', 'Oulu', '', '90110', 'Finland'), (10275, 'MAGAA', 1, datetime.datetime(1996, 8, 7, 0, 0), datetime.datetime(1996, 9, 4, 0, 0), datetime.datetime(1996, 8, 9, 0, 0), 1, 26.93, 'Magazzini Alimentari Riuniti', 'Via Ludovico il Moro 22', 'Bergamo', '', '24100', 'Italy'), (10285, 'QUICK', 1, datetime.datetime(1996, 8, 20, 0, 0), datetime.datetime(1996, 9, 17, 0, 0), datetime.datetime(1996, 8, 26, 0, 0), 2, 76.83, 'QUICK-Stop', 'Taucherstra�e 10', 'Cunewalde', '', '1307', 'Germany'), (10292, 'TRADH', 1, datetime.datetime(1996, 8, 28, 0, 0), datetime.datetime(1996, 9, 25, 0, 0), datetime.datetime(1996, 9, 2, 0, 0), 2, 1.35, 'Tradi�ao Hipermercados', 'Av. In�s de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil'), (10293, 'TORTU', 1, datetime.datetime(1996, 8, 29, 0, 0), datetime.datetime(1996, 9, 26, 0, 0), datetime.datetime(1996, 9, 11, 0, 0), 3, 21.18, 'Tortuga Restaurante', 'Avda. Azteca 123', 'M�xico D.F.', '', '5033', 'Mexico'), (10304, 'TORTU', 1, datetime.datetime(1996, 9, 12, 0, 0), datetime.datetime(1996, 10, 10, 0, 0), datetime.datetime(1996, 9, 17, 0, 0), 2, 63.79, 'Tortuga Restaurante', 'Avda. Azteca 123', 'M�xico D.F.', '', '5033', 'Mexico'), (10306, 'ROMEY', 1, datetime.datetime(1996, 9, 16, 0, 0), datetime.datetime(1996, 10, 14, 0, 0), datetime.datetime(1996, 9, 23, 0, 0), 3, 7.56, 'Romero y tomillo', 'Gran V�a, 1', 'Madrid', '', '28001', 'Spain'), (10311, 'DUMON', 1, datetime.datetime(1996, 9, 20, 0, 0), datetime.datetime(1996, 10, 4, 0, 0), datetime.datetime(1996, 9, 26, 0, 0), 3, 24.69, 'Du monde entier', '67, rue des Cinquante Otages', 'Nantes', '', '44000', 'France'), (10314, 'RATTC', 1, datetime.datetime(1996, 9, 25, 0, 0), datetime.datetime(1996, 10, 23, 0, 0), datetime.datetime(1996, 10, 4, 0, 0), 2, 74.16, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'), (10316, 'RATTC', 1, datetime.datetime(1996, 9, 27, 0, 0), datetime.datetime(1996, 10, 25, 0, 0), datetime.datetime(1996, 10, 8, 0, 0), 3, 150.15, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'), (10325, 'KOENE', 1, datetime.datetime(1996, 10, 9, 0, 0), datetime.datetime(1996, 10, 23, 0, 0), datetime.datetime(1996, 10, 14, 0, 0), 3, 64.86, 'K�niglich Essen', 'Maubelstr. 90', 'Brandenburg', '', '14776', 'Germany'), (10340, 'BONAP', 1, datetime.datetime(1996, 10, 29, 0, 0), datetime.datetime(1996, 11, 26, 0, 0), datetime.datetime(1996, 11, 8, 0, 0), 3, 166.31, "Bon app'", '12, rue des Bouchers', 'Marseille', '', '13008', 'France'), (10351, 'ERNSH', 1, datetime.datetime(1996, 11, 11, 0, 0), datetime.datetime(1996, 12, 9, 0, 0), datetime.datetime(1996, 11, 20, 0, 0), 1, 162.33, 'Ernst Handel', 'Kirchgasse 6', 'Graz', '', '8010', 'Austria'), (10357, 'LILAS', 1, datetime.datetime(1996, 11, 19, 0, 0), datetime.datetime(1996, 12, 17, 0, 0), datetime.datetime(1996, 12, 2, 0, 0), 3, 34.88, 'LILA-Supermercado', 'Carrera 52 con Ave. Bol�var #65-98 Llano Largo', 'Barquisimeto', 'Lara', '3508', 'Venezuela'), (10361, 'QUICK', 1, datetime.datetime(1996, 11, 22, 0, 0), datetime.datetime(1996, 12, 20, 0, 0), datetime.datetime(1996, 12, 3, 0, 0), 2, 183.17, 'QUICK-Stop', 'Taucherstra�e 10', 'Cunewalde', '', '1307', 'Germany'), (10364, 'EASTC', 1, datetime.datetime(1996, 11, 26, 0, 0), datetime.datetime(1997, 1, 7, 0, 0), datetime.datetime(1996, 12, 4, 0, 0), 1, 71.97, 'Eastern Connection', '35 King George', 'London', '', 'WX3 6FW', 'UK'), (10371, 'LAMAI', 1, datetime.datetime(1996, 12, 3, 0, 0), datetime.datetime(1996, 12, 31, 0, 0), datetime.datetime(1996, 12, 24, 0, 0), 1, 0.45, "La maison d'Asie", '1 rue Alsace-Lorraine', 'Toulouse', '', '31000', 'France'), (10374, 'WOLZA', 1, datetime.datetime(1996, 12, 5, 0, 0), datetime.datetime(1997, 1, 2, 0, 0), datetime.datetime(1996, 12, 9, 0, 0), 3, 3.94, 'Wolski Zajazd', 'ul. Filtrowa 68', 'Warszawa', '', '01-012', 'Poland'), (10376, 'MEREP', 1, datetime.datetime(1996, 12, 9, 0, 0), datetime.datetime(1997, 1, 6, 0, 0), datetime.datetime(1996, 12, 13, 0, 0), 2, 20.39, 'M�re Paillarde', '43 rue St. Laurent', 'Montr�al', 'Qu�bec', 'H1J 1C3', 'Canada'), (10377, 'SEVES', 1, datetime.datetime(1996, 12, 9, 0, 0), datetime.datetime(1997, 1, 6, 0, 0), datetime.datetime(1996, 12, 13, 0, 0), 3, 22.21, 'Seven Seas Imports', '90 Wadhurst Rd.', 'London', '', 'OX15 4NB', 'UK'), (10385, 'SPLIR', 1, datetime.datetime(1996, 12, 17, 0, 0), datetime.datetime(1997, 1, 14, 0, 0), datetime.datetime(1996, 12, 23, 0, 0), 2, 30.96, 'Split Rail Beer & Ale', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA'), (10387, 'SANTG', 1, datetime.datetime(1996, 12, 18, 0, 0), datetime.datetime(1997, 1, 15, 0, 0), datetime.datetime(1996, 12, 20, 0, 0), 2, 93.63, 'Sant� Gourmet', 'Erling Skakkes gate 78', 'Stavern', '', '4110', 'Norway'), (10393, 'SAVEA', 1, datetime.datetime(1996, 12, 25, 0, 0), datetime.datetime(1997, 1, 22, 0, 0), datetime.datetime(1997, 1, 3, 0, 0), 3, 126.56, 'Save-a-lot Markets', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA'), (10394, 'HUNGC', 1, datetime.datetime(1996, 12, 25, 0, 0), datetime.datetime(1997, 1, 22, 0, 0), datetime.datetime(1997, 1, 3, 0, 0), 3, 30.34, 'Hungry Coyote Import Store', 'City Center Plaza 516 Main St.', 'Elgin', 'OR', '97827', 'USA'), (10396, 'FRANK', 1, datetime.datetime(1996, 12, 27, 0, 0), datetime.datetime(1997, 1, 10, 0, 0), datetime.datetime(1997, 1, 6, 0, 0), 3, 135.35, 'Frankenversand', 'Berliner Platz 43', 'M�nchen', '', '80805', 'Germany'), (10400, 'EASTC', 1, datetime.datetime(1997, 1, 1, 0, 0), datetime.datetime(1997, 1, 29, 0, 0), datetime.datetime(1997, 1, 16, 0, 0), 3, 83.93, 'Eastern Connection', '35 King George', 'London', '', 'WX3 6FW', 'UK'), (10401, 'RATTC', 1, datetime.datetime(1997, 1, 1, 0, 0), datetime.datetime(1997, 1, 29, 0, 0), datetime.datetime(1997, 1, 10, 0, 0), 1, 12.51, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'), (10405, 'LINOD', 1, datetime.datetime(1997, 1, 6, 0, 0), datetime.datetime(1997, 2, 3, 0, 0), datetime.datetime(1997, 1, 22, 0, 0), 1, 34.82, 'LINO-Delicateses', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela'), (10453, 'AROUT', 1, datetime.datetime(1997, 2, 21, 0, 0), datetime.datetime(1997, 3, 21, 0, 0), datetime.datetime(1997, 2, 26, 0, 0), 2, 25.36, 'Around the Horn', 'Brook Farm Stratford St. Mary', 'Colchester', 'Essex', 'CO7 6JX', 'UK'), (10461, 'LILAS', 1, datetime.datetime(1997, 2, 28, 0, 0), datetime.datetime(1997, 3, 28, 0, 0), datetime.datetime(1997, 3, 5, 0, 0), 3, 148.61, 'LILA-Supermercado', 'Carrera 52 con Ave. Bol�var #65-98 Llano Largo', 'Barquisimeto', 'Lara', '3508', 'Venezuela'), (10465, 'VAFFE', 1, datetime.datetime(1997, 3, 5, 0, 0), datetime.datetime(1997, 4, 2, 0, 0), datetime.datetime(1997, 3, 14, 0, 0), 3, 145.04, 'Vaffeljernet', 'Smagsloget 45', '�rhus', '', '8200', 'Denmark'), (10469, 'WHITC', 1, datetime.datetime(1997, 3, 10, 0, 0), datetime.datetime(1997, 4, 7, 0, 0), datetime.datetime(1997, 3, 14, 0, 0), 1, 60.18, 'White Clover Markets', '1029 - 12th Ave. S.', 'Seattle', 'WA', '98124', 'USA'), (10473, 'ISLAT', 1, datetime.datetime(1997, 3, 13, 0, 0), datetime.datetime(1997, 3, 27, 0, 0), datetime.datetime(1997, 3, 21, 0, 0), 3, 16.37, 'Island Trading', 'Garden House Crowther Way', 'Cowes', 'Isle of Wight', 'PO31 7PJ', 'UK'), (10482, 'LAZYK', 1, datetime.datetime(1997, 3, 21, 0, 0), datetime.datetime(1997, 4, 18, 0, 0), datetime.datetime(1997, 4, 10, 0, 0), 3, 7.48, 'Lazy K Kountry Store', '12 Orchestra Terrace', 'Walla Walla', 'WA', '99362', 'USA'), (10486, 'HILAA', 1, datetime.datetime(1997, 3, 26, 0, 0), datetime.datetime(1997, 4, 23, 0, 0), datetime.datetime(1997, 4, 2, 0, 0), 2, 30.53, 'HILARION-Abastos', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Crist�bal', 'T�chira', '5022', 'Venezuela'), (10508, 'OTTIK', 1, datetime.datetime(1997, 4, 16, 0, 0), datetime.datetime(1997, 5, 14, 0, 0), datetime.datetime(1997, 5, 13, 0, 0), 2, 4.99, 'Ottilies K�seladen', 'Mehrheimerstr. 369', 'K�ln', '', '50739', 'Germany'), (10524, 'BERGS', 1, datetime.datetime(1997, 5, 1, 0, 0), datetime.datetime(1997, 5, 29, 0, 0), datetime.datetime(1997, 5, 7, 0, 0), 2, 244.79, 'Berglunds snabbk�p', 'Berguvsv�gen  8', 'Lule�', '', 'S-958 22', 'Sweden'), (10525, 'BONAP', 1, datetime.datetime(1997, 5, 2, 0, 0), datetime.datetime(1997, 5, 30, 0, 0), datetime.datetime(1997, 5, 23, 0, 0), 2, 11.06, "Bon app'", '12, rue des Bouchers', 'Marseille', '', '13008', 'France'), (10537, 'RICSU', 1, datetime.datetime(1997, 5, 14, 0, 0), datetime.datetime(1997, 5, 28, 0, 0), datetime.datetime(1997, 5, 19, 0, 0), 1, 78.85, 'Richter Supermarkt', 'Starenweg 5', 'Gen�ve', '', '1204', 'Switzerland'), (10542, 'KOENE', 1, datetime.datetime(1997, 5, 20, 0, 0), datetime.datetime(1997, 6, 17, 0, 0), datetime.datetime(1997, 5, 26, 0, 0), 3, 10.95, 'K�niglich Essen', 'Maubelstr. 90', 'Brandenburg', '', '14776', 'Germany'), (10546, 'VICTE', 1, datetime.datetime(1997, 5, 23, 0, 0), datetime.datetime(1997, 6, 20, 0, 0), datetime.datetime(1997, 5, 27, 0, 0), 3, 194.72, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', '', '69004', 'France'), (10558, 'AROUT', 1, datetime.datetime(1997, 6, 4, 0, 0), datetime.datetime(1997, 7, 2, 0, 0), datetime.datetime(1997, 6, 10, 0, 0), 2, 72.97, 'Around the Horn', 'Brook Farm Stratford St. Mary', 'Colchester', 'Essex', 'CO7 6JX', 'UK'), (10562, 'REGGC', 1, datetime.datetime(1997, 6, 9, 0, 0), datetime.datetime(1997, 7, 7, 0, 0), datetime.datetime(1997, 6, 12, 0, 0), 1, 22.95, 'Reggiani Caseifici', 'Strada Provinciale 124', 'Reggio Emilia', '', '42100', 'Italy'), (10567, 'HUNGO', 1, datetime.datetime(1997, 6, 12, 0, 0), datetime.datetime(1997, 7, 10, 0, 0), datetime.datetime(1997, 6, 17, 0, 0), 1, 33.97, 'Hungry Owl All-Night Grocers', '8 Johnstown Road', 'Cork', 'Co. Cork', '', 'Ireland'), (10579, 'LETSS', 1, datetime.datetime(1997, 6, 25, 0, 0), datetime.datetime(1997, 7, 23, 0, 0), datetime.datetime(1997, 7, 4, 0, 0), 2, 13.73, "Let's Stop N Shop", '87 Polk St. Suite 5', 'San Francisco', 'CA', '94117', 'USA'), (10587, 'QUEDE', 1, datetime.datetime(1997, 7, 2, 0, 0), datetime.datetime(1997, 7, 30, 0, 0), datetime.datetime(1997, 7, 9, 0, 0), 1, 62.52, 'Que Del�cia', 'Rua da Panificadora, 12', 'Rio de Janeiro', 'RJ', '02389-673', 'Brazil'), (10591, 'VAFFE', 1, datetime.datetime(1997, 7, 7, 0, 0), datetime.datetime(1997, 7, 21, 0, 0), datetime.datetime(1997, 7, 16, 0, 0), 1, 55.92, 'Vaffeljernet', 'Smagsloget 45', '�rhus', '', '8200', 'Denmark'), (10598, 'RATTC', 1, datetime.datetime(1997, 7, 14, 0, 0), datetime.datetime(1997, 8, 11, 0, 0), datetime.datetime(1997, 7, 18, 0, 0), 3, 44.42, 'Rattlesnake Canyon Grocery', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA'), (10604, 'FURIB', 1, datetime.datetime(1997, 7, 18, 0, 0), datetime.datetime(1997, 8, 15, 0, 0), datetime.datetime(1997, 7, 29, 0, 0), 1, 7.46, 'Furia Bacalhau e Frutos do Mar', 'Jardim das rosas n. 32', 'Lisboa', '', '1675', 'Portugal'), (10605, 'MEREP', 1, datetime.datetime(1997, 7, 21, 0, 0), datetime.datetime(1997, 8, 18, 0, 0), datetime.datetime(1997, 7, 29, 0, 0), 2, 379.13, 'M�re Paillarde', '43 rue St. Laurent', 'Montr�al', 'Qu�bec', 'H1J 1C3', 'Canada'), (10612, 'SAVEA', 1, datetime.datetime(1997, 7, 28, 0, 0), datetime.datetime(1997, 8, 25, 0, 0), datetime.datetime(1997, 8, 1, 0, 0), 2, 544.08, 'Save-a-lot Markets', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA'), (10616, 'GREAL', 1, datetime.datetime(1997, 7, 31, 0, 0), datetime.datetime(1997, 8, 28, 0, 0), datetime.datetime(1997, 8, 5, 0, 0), 2, 116.53, 'Great Lakes Food Market', '2732 Baker Blvd.', 'Eugene', 'OR', '97403', 'USA'), (10618, 'MEREP', 1, datetime.datetime(1997, 8, 1, 0, 0), datetime.datetime(1997, 9, 12, 0, 0), datetime.datetime(1997, 8, 8, 0, 0), 1, 154.68, 'M�re Paillarde', '43 rue St. Laurent', 'Montr�al', 'Qu�bec', 'H1J 1C3', 'Canada'), (10626, 'BERGS', 1, datetime.datetime(1997, 8, 11, 0, 0), datetime.datetime(1997, 9, 8, 0, 0), datetime.datetime(1997, 8, 20, 0, 0), 2, 138.69, 'Berglunds snabbk�p', 'Berguvsv�gen  8', 'Lule�', '', 'S-958 22', 'Sweden'), (10630, 'KOENE', 1, datetime.datetime(1997, 8, 13, 0, 0), datetime.datetime(1997, 9, 10, 0, 0), datetime.datetime(1997, 8, 19, 0, 0), 2, 32.35, 'K�niglich Essen', 'Maubelstr. 90', 'Brandenburg', '', '14776', 'Germany'), (10653, 'FRANK', 1, datetime.datetime(1997, 9, 2, 0, 0), datetime.datetime(1997, 9, 30, 0, 0), datetime.datetime(1997, 9, 19, 0, 0), 1, 93.25, 'Frankenversand', 'Berliner Platz 43', 'M�nchen', '', '80805', 'Germany'), (10655, 'REGGC', 1, datetime.datetime(1997, 9, 3, 0, 0), datetime.datetime(1997, 10, 1, 0, 0), datetime.datetime(1997, 9, 11, 0, 0), 2, 4.41, 'Reggiani Caseifici', 'Strada Provinciale 124', 'Reggio Emilia', '', '42100', 'Italy'), (10664, 'FURIB', 1, datetime.datetime(1997, 9, 10, 0, 0), datetime.datetime(1997, 10, 8, 0, 0), datetime.datetime(1997, 9, 19, 0, 0), 3, 1.27, 'Furia Bacalhau e Frutos do Mar', 'Jardim das rosas n. 32', 'Lisboa', '', '1675', 'Portugal'), (10665, 'LONEP', 1, datetime.datetime(1997, 9, 11, 0, 0), datetime.datetime(1997, 10, 9, 0, 0), datetime.datetime(1997, 9, 17, 0, 0), 2, 26.31, 'Lonesome Pine Restaurant', '89 Chiaroscuro Rd.', 'Portland', 'OR', '97219', 'USA'), (10668, 'WANDK', 1, datetime.datetime(1997, 9, 15, 0, 0), datetime.datetime(1997, 10, 13, 0, 0), datetime.datetime(1997, 9, 23, 0, 0), 2, 47.22, 'Die Wandernde Kuh', 'Adenauerallee 900', 'Stuttgart', '', '70563', 'Germany'), (10671, 'FRANR', 1, datetime.datetime(1997, 9, 17, 0, 0), datetime.datetime(1997, 10, 15, 0, 0), datetime.datetime(1997, 9, 24, 0, 0), 1, 30.34, 'France restauration', '54, rue Royale', 'Nantes', '', '44000', 'France'), (10677, 'ANTON', 1, datetime.datetime(1997, 9, 22, 0, 0), datetime.datetime(1997, 10, 20, 0, 0), datetime.datetime(1997, 9, 26, 0, 0), 3, 4.03, 'Antonio Moreno Taquer�a', 'Mataderos  2312', 'M�xico D.F.', '', '5023', 'Mexico'), (10680, 'OLDWO', 1, datetime.datetime(1997, 9, 24, 0, 0), datetime.datetime(1997, 10, 22, 0, 0), datetime.datetime(1997, 9, 26, 0, 0), 1, 26.61, 'Old World Delicatessen', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA'), (10689, 'BERGS', 1, datetime.datetime(1997, 10, 1, 0, 0), datetime.datetime(1997, 10, 29, 0, 0), datetime.datetime(1997, 10, 7, 0, 0), 2, 13.42, 'Berglunds snabbk�p', 'Berguvsv�gen  8', 'Lule�', '', 'S-958 22', 'Sweden'), (10690, 'HANAR', 1, datetime.datetime(1997, 10, 2, 0, 0), datetime.datetime(1997, 10, 30, 0, 0), datetime.datetime(1997, 10, 3, 0, 0), 1, 15.8, 'Hanari Carnes', 'Rua do Pa�o, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil'), (10709, 'GOURL', 1, datetime.datetime(1997, 10, 17, 0, 0), datetime.datetime(1997, 11, 14, 0, 0), datetime.datetime(1997, 11, 20, 0, 0), 3, 210.8, 'Gourmet Lanchonetes', 'Av. Brasil, 442', 'Campinas', 'SP', '04876-786', 'Brazil'), (10710, 'FRANS', 1, datetime.datetime(1997, 10, 20, 0, 0), datetime.datetime(1997, 11, 17, 0, 0), datetime.datetime(1997, 10, 23, 0, 0), 1, 4.98, 'Franchi S.p.A.', 'Via Monte Bianco 34', 'Torino', '', '10100', 'Italy'), (10713, 'SAVEA', 1, datetime.datetime(1997, 10, 22, 0, 0), datetime.datetime(1997, 11, 19, 0, 0), datetime.datetime(1997, 10, 24, 0, 0), 1, 167.05, 'Save-a-lot Markets', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA'), (10717, 'FRANK', 1, datetime.datetime(1997, 10, 24, 0, 0), datetime.datetime(1997, 11, 21, 0, 0), datetime.datetime(1997, 10, 29, 0, 0), 2, 59.25, 'Frankenversand', 'Berliner Platz 43', 'M�nchen', '', '80805', 'Germany'), (10718, 'KOENE', 1, datetime.datetime(1997, 10, 27, 0, 0), datetime.datetime(1997, 11, 24, 0, 0), datetime.datetime(1997, 10, 29, 0, 0), 3, 170.88, 'K�niglich Essen', 'Maubelstr. 90', 'Brandenburg', '', '14776', 'Germany'), (10733, 'BERGS', 1, datetime.datetime(1997, 11, 7, 0, 0), datetime.datetime(1997, 12, 5, 0, 0), datetime.datetime(1997, 11, 10, 0, 0), 3, 110.11, 'Berglunds snabbk�p', 'Berguvsv�gen  8', 'Lule�', '', 'S-958 22', 'Sweden'), (10743, 'AROUT', 1, datetime.datetime(1997, 11, 17, 0, 0), datetime.datetime(1997, 12, 15, 0, 0), datetime.datetime(1997, 11, 21, 0, 0), 2, 23.72, 'Around the Horn', 'Brook Farm Stratford St. Mary', 'Colchester', 'Essex', 'CO7 6JX', 'UK'), (10746, 'CHOPS', 1, datetime.datetime(1997, 11, 19, 0, 0), datetime.datetime(1997, 12, 17, 0, 0), datetime.datetime(1997, 11, 21, 0, 0), 3, 31.43, 'Chop-suey Chinese', 'Hauptstr. 31', 'Bern', '', '3012', 'Switzerland'), (10773, 'ERNSH', 1, datetime.datetime(1997, 12, 11, 0, 0), datetime.datetime(1998, 1, 8, 0, 0), datetime.datetime(1997, 12, 16, 0, 0), 3, 96.43, 'Ernst Handel', 'Kirchgasse 6', 'Graz', '', '8010', 'Austria'), (10776, 'ERNSH', 1, datetime.datetime(1997, 12, 15, 0, 0), datetime.datetime(1998, 1, 12, 0, 0), datetime.datetime(1997, 12, 18, 0, 0), 3, 351.53, 'Ernst Handel', 'Kirchgasse 6', 'Graz', '', '8010', 'Austria'), (10785, 'GROSR', 1, datetime.datetime(1997, 12, 18, 0, 0), datetime.datetime(1998, 1, 15, 0, 0), datetime.datetime(1997, 12, 24, 0, 0), 3, 1.51, 'GROSELLA-Restaurante', '5� Ave. Los Palos Grandes', 'Caracas', 'DF', '1081', 'Venezuela'), (10788, 'QUICK', 1, datetime.datetime(1997, 12, 22, 0, 0), datetime.datetime(1998, 1, 19, 0, 0), datetime.datetime(1998, 1, 19, 0, 0), 2, 42.7, 'QUICK-Stop', 'Taucherstra�e 10', 'Cunewalde', '', '1307', 'Germany'), (10789, 'FOLIG', 1, datetime.datetime(1997, 12, 22, 0, 0), datetime.datetime(1998, 1, 19, 0, 0), datetime.datetime(1997, 12, 31, 0, 0), 2, 100.6, 'Folies gourmandes', '184, chauss�e de Tournai', 'Lille', '', '59000', 'France'), (10792, 'WOLZA', 1, datetime.datetime(1997, 12, 23, 0, 0), datetime.datetime(1998, 1, 20, 0, 0), datetime.datetime(1997, 12, 31, 0, 0), 3, 23.79, 'Wolski Zajazd', 'ul. Filtrowa 68', 'Warszawa', '', '01-012', 'Poland'), (10800, 'SEVES', 1, datetime.datetime(1997, 12, 26, 0, 0), datetime.datetime(1998, 1, 23, 0, 0), datetime.datetime(1998, 1, 5, 0, 0), 3, 137.44, 'Seven Seas Imports', '90 Wadhurst Rd.', 'London', '', 'OX15 4NB', 'UK'), (10813, 'RICAR', 1, datetime.datetime(1998, 1, 5, 0, 0), datetime.datetime(1998, 2, 2, 0, 0), datetime.datetime(1998, 1, 9, 0, 0), 1, 47.38, 'Ricardo Adocicados', 'Av. Copacabana, 267', 'Rio de Janeiro', 'RJ', '02389-890', 'Brazil'), (10821, 'SPLIR', 1, datetime.datetime(1998, 1, 8, 0, 0), datetime.datetime(1998, 2, 5, 0, 0), datetime.datetime(1998, 1, 15, 0, 0), 1, 36.68, 'Split Rail Beer & Ale', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA'), (10825, 'DRACD', 1, datetime.datetime(1998, 1, 9, 0, 0), datetime.datetime(1998, 2, 6, 0, 0), datetime.datetime(1998, 1, 14, 0, 0), 1, 79.25, 'Drachenblut Delikatessen', 'Walserweg 21', 'Aachen', '', '52066', 'Germany'), (10827, 'BONAP', 1, datetime.datetime(1998, 1, 12, 0, 0), datetime.datetime(1998, 1, 26, 0, 0), datetime.datetime(1998, 2, 6, 0, 0), 2, 63.54, "Bon app'", '12, rue des Bouchers', 'Marseille', '', '13008', 'France'), (10834, 'TRADH', 1, datetime.datetime(1998, 1, 15, 0, 0), datetime.datetime(1998, 2, 12, 0, 0), datetime.datetime(1998, 1, 19, 0, 0), 3, 29.78, 'Tradi�ao Hipermercados', 'Av. In�s de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil'), (10835, 'ALFKI', 1, datetime.datetime(1998, 1, 15, 0, 0), datetime.datetime(1998, 2, 12, 0, 0), datetime.datetime(1998, 1, 21, 0, 0), 3, 69.53, "Alfred's Futterkiste", 'Obere Str. 57', 'Berlin', '', '12209', 'Germany'), (10842, 'TORTU', 1, datetime.datetime(1998, 1, 20, 0, 0), datetime.datetime(1998, 2, 17, 0, 0), datetime.datetime(1998, 1, 29, 0, 0), 3, 54.42, 'Tortuga Restaurante', 'Avda. Azteca 123', 'M�xico D.F.', '', '5033', 'Mexico'), (10850, 'VICTE', 1, datetime.datetime(1998, 1, 23, 0, 0), datetime.datetime(1998, 3, 6, 0, 0), datetime.datetime(1998, 1,

In [13]:
# hacemos la desconexión de la base de datos

config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()