# **Ejercicios de pair programming M칩dulo 1 - Sprint 2**
## **Lecci칩n 14**
### **Python + SQL 2**

---

Sigamos trabajando con SQL desde nuestro jupyter! En este caso crearemos una BBDD.  

**Objetivos**

Durante la clase de *pair programming* de creaci칩n de tablas de SQL nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.  

游늷 **NOTA** Utilizad el nombre de la BBDD de *mi_primerita_BBDD_Python*  
游늷 **NOTA** Cuando creeis las distintas tablas de vuestra BBDD repetireis la mismas lineas de c칩digo una y otra vez. Para evitar esto, crearos una funci칩n que nos sirva para crear tablas independientemente del contenido de la tabla. La funci칩n recibir치 como par치metros:  
1. Contrase침a de la conexi칩n al servidor.  
2. *Query* para crear la tabla.  

A modo de recap de lo que conten칤a la BBDD:  
- Tabla Zapatillas: tiene 4 columnas: id, modelo, color, talla con las siguientes caracter칤sticas:  
    * `idZapatillas`: es una clave primaria de tipo int, autoincremental y no nula.
    * `Modelo`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Color`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Talla`: es entero, no nula.    
- Tabla Clientes: tiene 9 columnas idcliente, nombre, numero_telefono, email, direccion, ciudad, provincia, pais, codigo_postal con las siguientes caracter칤sticas:  
    * `idCliente`: es una clave primaria de tipo int, autoincremental y no nula.
    * `Nombre`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Numero_telefono`: es un entero de longitud m치xima de 9 caracteres, no nula.
    * `Email`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Direccion`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Ciudad`: es una cadena de caracteres de longitud m치xima de 45 caracteres, puede ser nula.
    * `Provincia`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Pais`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Codigo_postal`: entero de m치xima longitud 9, no nula.      
- Tabla Empleados: tiene 5 columnas idEmpleado, nombre, tienda, salario, fecha_incorporacion con las siguientes caracter칤sticas:
    * `idEmpleado`: es una clave primaria de tipo int, autoincremental y no nula.
    * `Nombre`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `Tienda`: es una cadena de caracteres de longitud m치xima de 45 caracteres, no nula.
    * `salario`: es decimal, puede ser nula.
    * `fecha_incorporacion`: es una columna de tipo date, no nula.   
- Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes caracter칤sticas:
    * `idFactura`: es una clave primaria de tipo int, autoincremental y no nula.
    * `idEmpleado`: es una clave for치nea de tipo int, no nula.
    * `idCliente`: es una clave for치nea de tipo int, no nula.
    * `idZapatilla`: es una clave for치nea de tipo int, no nula
    * `Fecha`: es una columna de tipo date, no nula.
    * `Total`: es decimal, no nula.  
    游늷 **NOTA** En esta 칰ltima tabla tendremos que incluir todos los `CONSTRAINT` necesarios para establecer los relaciones entre las tablas, donde tendremos que especificar:
    * Foreign Key
    * References

In [1]:
# Creamos la base de datos
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

In [5]:
# Creamos la funci칩n para la creaci칩n de las tablas
def creacion_tabla(contrase침a, query):
    cnx = mysql.connector.connect(user='root', password=contrase침a,
                              host='127.0.0.1', database= 'mi_primerita_BBDD_Python')
    mycursor = cnx.cursor()
    try:
        mycursor.execute(query)
        print(mycursor)
        return f'Tabla creada'
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [7]:
# Creamos la tabla zapatillas
q_tabla_zapatillas = """CREATE TABLE zapatillas (
                            idZapatillas INT NOT NULL AUTO_INCREMENT, 
                            Modelo VARCHAR(45) NOT NULL, 
                            Color VARCHAR(45) NOT NULL, 
                            Talla INT NOT NULL, 
                            PRIMARY KEY (idZapatillas))"""
creacion_tabla('AlumnaAdalab', q_tabla_zapatillas)

CMySQLCursor: CREATE TABLE zapatillas (
              ..

'Tabla creada'

In [8]:
# Creamos la tabla clientes
q_tabla_clientes = """CREATE TABLE clientes (
                            idCliente INT NOT NULL AUTO_INCREMENT, 
                            Nombre VARCHAR(45) NOT NULL, 
                            Numero_telefono INT NOT NULL,
                            Email VARCHAR(45) NOT NULL, 
                            Direccion VARCHAR(45) NOT NULL,
                            Ciudad VARCHAR(45) NOT NULL,
                            Provincia VARCHAR(45) NOT NULL, 
                            Pais VARCHAR(45) NOT NULL,
                            Codigo_postal INT NOT NULL,
                            PRIMARY KEY (idCliente))"""
creacion_tabla('AlumnaAdalab', q_tabla_clientes)

CMySQLCursor: CREATE TABLE clientes (
                ..

'Tabla creada'

In [9]:
# Creamos la tabla empleados
q_tabla_empleados = """CREATE TABLE empleados (
                            idEmpleado INT NOT NULL AUTO_INCREMENT, 
                            Nombre VARCHAR(45) NOT NULL, 
                            Tienda VARCHAR(45) NOT NULL, 
                            Salario DECIMAL,
                            Fecha_incorporacion DATE NOT NULL, 
                            PRIMARY KEY (idEmpleado))"""
creacion_tabla('AlumnaAdalab', q_tabla_empleados)

CMySQLCursor: CREATE TABLE empleados (
               ..

'Tabla creada'

In [11]:
# Creamos la tabla Facturas
q_tabla_facturas = """CREATE TABLE facturas (
                            idFactura INT NOT NULL AUTO_INCREMENT, 
                            idEmpleado INT NOT NULL, 
                            idCliente INT NOT NULL, 
                            idZapatillas INT NOT NULL, 
                            Fecha DATE NOT NULL,
                            Total DECIMAL NOT NULL, 
                            PRIMARY KEY (idFactura),
                            CONSTRAINT `fk_zapatillas_facturas`
                                FOREIGN KEY (`idZapatillas`)
                                REFERENCES zapatillas (idZapatillas) ON DELETE CASCADE ON UPDATE CASCADE,
                            CONSTRAINT `fk_clientes_facturas`
                                FOREIGN KEY (`idCliente`)
                                REFERENCES clientes (idCliente) ON DELETE CASCADE ON UPDATE CASCADE,
                            CONSTRAINT `fk_empleados_facturas`
                                FOREIGN KEY (`idEmpleado`)
                                REFERENCES empleados (idEmpleado) ON DELETE CASCADE ON UPDATE CASCADE)"""
creacion_tabla('AlumnaAdalab', q_tabla_facturas)

CMySQLCursor: CREATE TABLE facturas (
                ..

'Tabla creada'